body {
    font-family: "Helvetica" , arial, sans-serif;
    color: #bababa;
}

.weather{
    border: 1px solid #e9e9e9;
    height: 90px;
    width: 73px;
    text-align: center;
    font-size: 13px;
    display: inline-block;
}

.day{
    padding-top:7px;
}

.temp-high{
    display: inline;
    padding-right:5px;
    color: #878787;
}

.temp-low{
    display: inline;
    padding-right:5px;
}